
@{
    ViewBag.Title = "Zapoznaj się z ofertą księgarni";
}

<article class="home-article">

    <a href="https://pl-pl.facebook.com/WydawnictwoNaszaKsiegarnia/"><div class="home-1left-div">
    <img class="img-home" src="~/Img/Home/fb3.png" />
</div></a>

    <a href="https://www.youtube.com/channel/UC0qKzRrlPwtdKCMgszPqyiw"> <div class="home-1right-div">
    <img class="img-home" src="~/Img/Home/yt-LOGO.png" />
</div></a>

    <div style="clear:both;"></div>
    <a href="https://allegro.pl/listing?string=ksi%C4%85%C5%BCki&bmatch=product-buynow-new-price-v2-boo-1-0-0604"><div class="home-2left-div">
    <img class="img-home" src="~/Img/Home/allegro.png" />
</div></a>

    <a href="https://www.payu.pl/"><div class="home-2right-div">
    <img class="img-home" src="~/Img/Home/PayU.png" />
</div></a>

    <div style="clear:both;"></div>
</article>

